.s-rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    padding-left: 3rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: -10px;
      left: 0;
      background-color: $primary-color;
      color: #fff;
      width: 39px;
      height: 39px;
      background-repeat: no-repeat;
      background-size: 27px 30px;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.69 435.93' fill='%23ffffff'%3E%3Cpath d='M70.13 13.3c.27-3.14.54-6.29.82-9.43C71.11 2 71.8.81 74 .89c4.47.18 8.94.17 13.42.24 1.81.6 3.66.64 3.48 3.7-.62 10.75-1.1 21.53-1.09 32.29A283.79 283.79 0 0091 66.87c2.19 20.76 5.75 41.29 12.19 61.24 7.18 22.2 16.6 43.25 31.31 61.59 3 3.74 6.49 7.08 9.75 10.61.62-1.12.68-1.66.47-2.07-7.89-15.54-13.1-32-17.56-48.81a321.68 321.68 0 01-8.5-46.83c-1.22-10.85-1.92-21.78-2.23-32.7-.27-9.26.31-18.54.57-27.82.38-13.62 1-27.22 3.9-40.6h43.67c8.61 0 17.22-.09 25.83-.05 9.76 0 19.52.22 29.28.25 9.1 0 18.2-.09 27.29-.07 5.12 0 10.23.19 15.34.29 0 1.39-.37 2.88 0 4.16a241.13 241.13 0 017.47 35.43 188.29 188.29 0 01-1 49.81c-.92 6.36-3.31 12.49-4.37 18.84-1.44 8.63-5.13 16.36-8.47 24.26a164 164 0 01-21.77 36.49c-4 5.14-9 9.52-13.49 14.25l-42.15-8-.19 1 41.22 7.86c-1.47 4.07-4.67 6.18-8.54 7.52l-33.81-6.38-.37 2 32.81 6.19-9.33 6.37c-4.25-.81-8.48-1.75-12.75-2.37-4.06-.58-8.06-2.37-12.23-1.58-.05.43-.11.86-.16 1.29l22.81 4.3c-.57.78-1 1.88-1.72 2.31-8.46 4.79-16.74 10-25.55 14a101.37 101.37 0 01-20.63 6.41c-8.49 1.84-17.17 2.75-25.75 4.17-.78.13-1.42 1.09-2.13 1.66-4.64-6.51-9.55-12.84-13.84-19.58a102.75 102.75 0 01-8.4-16.2c-2.17-5.33-6-7.59-11.14-9.38-24.45-8.53-46.6-20.9-64.38-40.18-.89-1-1.63-2.05-2.44-3.08l-.73-1v-.07a9.24 9.24 0 00-.44-2.84 137 137 0 01-10.93-29.77c-4.71-18.72-3.23-36.71 5.39-54C25 36.27 40.91 26.48 62.7 26.28c4.93-.05 7.46-1.79 7.87-6.17a42.33 42.33 0 00-.44-6.81zM38.82 115.09l-.08-.12.88 1.27-.08-.1.89 1.26.06-.12c-.16 1-.78 2.17-.41 2.83 3 5.28 5.79 10.7 9.33 15.59 3 4.1 6.88 7.54 10.36 11.28 7.24 7.79 16.65 12.08 25.94 16.57l1.17-.68q-2.16-6.1-4.33-12.21l-.74-.87.09.06a39 39 0 00-.69-5.33 350.46 350.46 0 01-11.57-77.2c-.2-5.22-.73-10.41-1.14-16-5.32.25-10 .15-14.54.76-8.61 1.15-16.28 4.73-19.55 13.17A57.37 57.37 0 0031 83.73c-.32 9.76 2 19.2 6.1 28.15l1 2-.15-.13z'/%3E%3Cpath d='M200.32 201.69l9.33-6.37 1.37-1.79c3.87-1.34 7.07-3.45 8.54-7.52l1.17-.83c4.52-4.73 9.5-9.11 13.49-14.25A164 164 0 00256 134.44c3.34-7.9 7-15.63 8.47-24.26 1.06-6.35 3.45-12.48 4.37-18.84a188.29 188.29 0 001-49.81 241.13 241.13 0 00-7.5-35.43c-.36-1.28 0-2.77 0-4.16 10-.07 20.07-.17 30.1-.16a59.86 59.86 0 016.37.68l9.62 1.81c.69 4.69 1.65 9 1.9 13.44.74 12.69 1.72 25.4 1.59 38.09a240.87 240.87 0 01-2.7 31.59c-1.64 11.47-3.84 22.87-8.16 33.79-3.45 8.73-5.73 17.94-9.34 26.59a230.24 230.24 0 01-13.23 27.17A224.32 224.32 0 01261 200.67a377.62 377.62 0 01-25.24 29.22c-13.78 14.27-30.06 25.49-46.59 36.34-5.29 3.47-10.63 6-17.13 3.43a20.1 20.1 0 00-3.92-.71l.05.09c0-4-3.66-2-5.4-3.21-6.73-4-14.06-7.37-20-12.3-7.31-6-13.52-13.4-20.17-20.22-.29-.3-.24-.93-.36-1.41.71-.57 1.35-1.53 2.13-1.66 8.58-1.42 17.26-2.33 25.75-4.17a101.37 101.37 0 0020.63-6.41c8.81-4 17.09-9.23 25.55-14 .76-.43 1.15-1.53 1.72-2.31z'/%3E%3Cpath d='M168.14 269a20.1 20.1 0 013.92.71c6.5 2.58 11.84 0 17.13-3.43 16.53-10.85 32.81-22.07 46.59-36.34A377.62 377.62 0 00261 200.67a224.32 224.32 0 0017.48-25.73 230.24 230.24 0 0013.23-27.17c3.61-8.65 5.89-17.86 9.34-26.59 4.32-10.92 6.52-22.32 8.16-33.79a240.87 240.87 0 002.7-31.59c.13-12.69-.85-25.4-1.59-38.09-.25-4.4-1.21-8.75-1.9-13.44l-9.62-1.81 17.2-.81c1.15 6.26 2.65 12.22 1 18.45.49 2.77 1.41 5.54 1.36 8.3-.08 3.81 1.84 4.81 5.1 5.18 6.25.71 12.61 1.12 18.65 2.69a32.08 32.08 0 0111.68 6.07c7.81 6.31 10.56 15.28 11.55 25a87 87 0 01-5 40.54 77.19 77.19 0 01-13.73 22.25 114.32 114.32 0 01-22.11 20.52c-6.68 4.59-13.9 8.4-20.79 12.69-1.93 1.2-4.34 2.56-5.16 4.44-3.15 7.25-5.74 14.75-8.53 22.16-5.64 10.12-10.72 20.59-17 30.28-13.87 21.34-30.65 38.93-55.53 48.77 5.23 12.35 3.44 23.81-5.56 34.27 12.5 4 23.3 9.48 32.62 17.78a91 91 0 0128.73 48.75c1.51 6.56 1.81 13.41 2.66 20.12-.53 1.5-.6 3.06-3.08 3-5.71-.12-11.43.16-17.14.37-2.08.07-4.16.38-6.23.58l-10-1.2c1.25-6.78 3.42-13.55 3.55-20.35a73.79 73.79 0 00-15.12-46.69c-5.25-7-11.25-13.33-19.09-17.64-1.65-.91-2.95-1.52-4.19.4a9.43 9.43 0 00-1.93.18c-6.67 2-13.27 3.19-20-.14-3.28-1.63-6.79-2.79-10.2-4.16l1.41-1.73a36.16 36.16 0 006.09 1.94c9.39 1.34 17.45-2 24-8.37 4.81-4.68 7.11-10.89 6.7-18.38-14.79 2.21-29 1.85-42.77-4.95l-2.34 8.53-.21-1.33c.14-.95.27-1.89.41-2.84.77-2.75 1.56-5.46 2.34-8.13zm135.74-117.6a22.05 22.05 0 003.85-1.35c7.76-5 15.81-9.65 23.14-15.23a65.5 65.5 0 0021.41-28.68c4.13-10.47 4.1-21.16 2.75-31.87-.76-6-3.15-11.95-8.51-15.74-8.34-5.89-17.78-6.45-28-5.64a405 405 0 01-14.64 98.46zM285.07 394.82c.72 1 2.05 2.07 2.06 3.12.09 12.44 0 24.88-.07 38L97 435.17v-24.69c0-4.66 0-9.32.27-14 0-.81 1.07-1.57 1.65-2.35 8.1.17 16.21.47 24.32.48 9.93 0 19.86-.18 29.79-.29a48.2 48.2 0 004.92.49h42.59l29.56-.14 19.25.33c1.79.05 3.58.16 5.37.15q13-.11 26.08-.25h.12z'/%3E%3Cpath d='M172.51 304.23c3.41 1.37 6.92 2.53 10.2 4.16 6.69 3.33 13.29 2.17 20 .14a9.43 9.43 0 011.93-.18 22.12 22.12 0 00.58 4.85c1.17 3.41 2.94 6.64 4 10.09a77.4 77.4 0 013 31.28c-1.61 13.64-5.47 26.58-13.25 38.11-6.4.13-12.79.41-19.19.34-9-.08-18.08-.46-27.12-.6a14.87 14.87 0 00-3.82 1 40.1 40.1 0 00-5.91-.86c-5.59 0-11.19.28-16.78.41a100.7 100.7 0 01-10.85 0c-2.19-.19-4.3-1.3-6.45-2 1.68-9.31 2.75-18.79 5.16-27.9 4.33-16.37 13.48-30 26-41.39a78.08 78.08 0 0129.76-17.11 15 15 0 012.74-.34zm3.2 20.57c-4.46-1.5-8.67-2.45-12.4-4.33-3.24-1.63-5.72-1-8.32.76-10 6.91-19 14.95-25.12 25.66-3.67 6.4-6.13 13.22-5.83 20.93 14.46-17.61 30.74-32.82 51.67-43.02zM290 189.89c2.79-7.41 5.38-14.91 8.53-22.16.82-1.88 3.23-3.24 5.16-4.44 6.89-4.29 14.11-8.1 20.79-12.69a114.32 114.32 0 0022.11-20.52 77.19 77.19 0 0013.73-22.25 87 87 0 005-40.54c-1-9.67-3.74-18.64-11.55-25a32.08 32.08 0 00-11.68-6.07c-6-1.57-12.4-2-18.65-2.69-3.26-.37-5.18-1.37-5.1-5.18.05-2.76-.87-5.53-1.36-8.3 4.36.62 8.7 1.71 13.07 1.78 14.37.23 27.21 4.85 37.7 14.37C378.43 46 384.48 58.55 386 73a98 98 0 01-3.77 40.88c-5 15.61-14.12 28.9-26.25 40-16.88 15.47-36.62 26-58.06 33.6-2.57.99-5.27 1.64-7.92 2.41zM120.94 1.48c-2.92 13.38-3.52 27-3.9 40.6-.26 9.28-.84 18.56-.57 27.82.31 10.92 1 21.85 2.23 32.7a321.68 321.68 0 008.5 46.83c4.46 16.8 9.67 33.27 17.56 48.81.21.41.15.95-.47 2.07-3.26-3.53-6.75-6.87-9.75-10.61-14.71-18.34-24.13-39.39-31.31-61.59-6.44-20-10-40.48-12.19-61.24a283.79 283.79 0 01-1.19-29.75c0-10.76.47-21.54 1.09-32.29.18-3.06-1.67-3.1-3.48-3.7.7-.4 1.42-1.13 2.11-1.13C99.71.36 109.84.83 120 1.28a5.47 5.47 0 01.94.2zM70.13 13.3a42.33 42.33 0 01.44 6.81c-.41 4.38-2.94 6.12-7.87 6.17-21.79.2-37.67 10-47.4 29.51-8.62 17.29-10.1 35.28-5.39 54a137 137 0 0010.91 29.74 9.24 9.24 0 01.44 2.84c-2.18-2.46-4.74-4.66-6.46-7.4A95.68 95.68 0 011 96.76a90.47 90.47 0 01.2-28.08C3.76 54 10 40.67 23.1 31.77a64.77 64.77 0 0137.2-11.23c2.64 0 5.28-.39 8.28-.63zM165.59 281.27l2.34-8.53c13.78 6.8 28 7.16 42.77 4.95.41 7.49-1.89 13.7-6.7 18.38-6.54 6.34-14.6 9.71-24 8.37a36.16 36.16 0 01-6.09-1.94c-5.58-5.97-10.05-12.39-8.32-21.23zm6.87-2.1c-2.72 4.62-1.19 13.42 3.13 18.54l3.27-17.34z'/%3E%3Cpath d='M108.75 391c2.15.69 4.26 1.8 6.45 2a100.7 100.7 0 0010.85 0c5.59-.13 11.19-.4 16.78-.41a40.1 40.1 0 015.91.86l4.26 1c-9.93.11-19.86.32-29.79.29-8.11 0-16.22-.31-24.32-.48 2.22-.23 4.47-.79 6.65-.61s2.87-.94 3.21-2.65zM280.77 394.89q-13 .14-26.08.25c-1.79 0-3.58-.1-5.37-.15 0-.39.09-.77.13-1.16 2.07-.2 4.15-.51 6.23-.58 5.71-.21 11.43-.49 17.14-.37 2.48 0 2.55-1.52 3.08-3 1.32 1.96 1.19 5.33 4.87 5.01zM162.79 265.83c1.74 1.17 5.36-.83 5.4 3.21zM285.07 394.82l-4.18.06zM165.79 277.1c-.14.95-.27 1.89-.41 2.84.14-.94.27-1.89.41-2.84zM21.28 142.44l.73 1zM40.49 117.28c6.82 6.86 13.13 14.37 20.63 20.4 6.19 5 13.8 8.18 20.78 12.17l-.09-.06.74.87q2.17 6.1 4.33 12.21l-1.17.68C76.42 159.06 67 154.77 59.77 147c-3.48-3.74-7.38-7.18-10.36-11.28-3.54-4.89-6.36-10.31-9.33-15.59-.37-.68.25-1.9.41-2.85zM211 193.53l-1.37 1.79-32.81-6.19.37-2zM200.32 201.69l-2.32 1.64-22.82-4.33c0-.43.11-.86.16-1.29 4.17-.79 8.17 1 12.23 1.58 4.27.65 8.5 1.59 12.75 2.4zM220.73 185.18l-1.17.83-41.17-7.76.19-1zM37.11 111.88l1 2zM38.74 115l.88 1.27zM38 113.79l.86 1.3zM82.55 150.66l-.74-.87zM39.54 116.14l.89 1.26zM198.87 392.68c7.78-11.53 11.64-24.47 13.25-38.11a77.4 77.4 0 00-3-31.28c-1-3.45-2.79-6.68-4-10.09a22.12 22.12 0 01-.58-4.85c1.24-1.92 2.54-1.31 4.19-.4 7.84 4.31 13.84 10.65 19.09 17.64A73.79 73.79 0 01243 372.28c-.13 6.8-2.3 13.57-3.55 20.35l-7.14.56a26.92 26.92 0 00-3.43-.4c-9.35.09-18.7.23-28 .35z'/%3E%3Cpath d='M232.31 393.19l7.14-.56 10 1.2c0 .39-.09.77-.13 1.16l-19.25-.33zM198.87 392.68l2 .46-.32 1.66c-14.2 0-28.39.06-42.59 0a48.2 48.2 0 01-4.92-.49l-4.26-1a14.87 14.87 0 013.82-1c9 .14 18.08.52 27.12.6 6.36.18 12.75-.1 19.15-.23z'/%3E%3Cpath d='M200.51 394.8l.32-1.66c9.35-.12 18.7-.26 28-.35a26.92 26.92 0 013.43.4l-2.24 1.47zM175.71 324.8c-20.93 10.17-37.21 25.41-51.67 43-.3-7.71 2.16-14.53 5.83-20.93C136 336.18 145 328.14 155 321.23c2.6-1.78 5.08-2.39 8.32-.76 3.68 1.88 7.93 2.83 12.39 4.33zM172.46 279.17l6.4 1.2-3.27 17.34c-4.32-5.12-5.85-13.92-3.13-18.54z'/%3E%3C/svg%3E");
    }
  }
}