.s-table {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  overflow-x: auto;

  @media only screen and (min-width: $screen-sm) {
    margin-bottom: 4rem;
  }

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    padding: 0.5rem;
    vertical-align: top;
    text-align: left;
  }

  tr {
    font-size: 14px;
    line-height: 22px;
    color: #000;

    &:nth-child(odd) {

      td {
        background-color: rgba($primary-color, 0.25);
      }
    }

    td {

      &:first-child {
        font-weight: 700;
        min-width: 100px;
      }
    }
  }

  caption {
    caption-side: top;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background-color: $primary-color;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }
}