mixin promo()

  .s-promo
    .s-promo__inner
      ul.s-promo__direction-list.row
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('Товары', 'products', '42', '46')
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('IT Технологии', 'it', '46', '36')
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('Авто и мото', 'vehicles', '46', '26')
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('Хобби', 'hobby', '44', '40')
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('Здоровье и красоты', 'health', '46', '38')
        li.s-promo__direction-item.col-6.col-sm-4.col-lg-2
          +direction('Строительство и ремонт', 'construction', '46', '28')
    .s-promo__slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-inner
                h2.s-promo__slide-title Лучшие смартфоны с двумя SIM-картами в 2020 году
              .s-promo__cover
                img(src='img/background-promo-section.jpg', alt='alt')