.s-promo {
  position: relative;
  border-bottom: 8px solid $primary-color;

  &__inner {
    position: relative;
    z-index: 2;
    padding: 1rem;
    width: 100%;
    max-width: 320px;
    margin: auto;

    @media only screen and (min-width: $screen-xs) {
      max-width: 576px;
    }

    @media only screen and (min-width: $screen-md) {
      max-width: 1240px;
      padding-top: 25rem;
    }
  }

  &__direction-list {
    list-style: none;
  }

  &__direction-item {
    margin: 0;
    margin-bottom: 2rem;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .swiper-container {
      height: 100%;
    }
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slide-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    padding: 1rem;
  }

  &__slide-title {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
      z-index: 2;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }
}