.s-article-card {
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;

    .s-article-card__cover {
      transform: scale(0.95)
    }

    .s-article-card__cover img {
      transform: scale(1.15)
    }

    .s-article-card__title {
      color: $text-color;
    }
  }

  &__cover {
    position: relative;
    margin-bottom: 0.5rem;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform-origin: center center;
      will-change: transform;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #8a8a8a;
    margin-top: 0;
    margin-bottom: 0.5rem;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__caption {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #838383;
  }
}