mixin article-card()

  a.s-article-card(href='/')
    .s-article-card__cover
      img(src='https://66.media.tumblr.com/f86a8a2a419ac70c02589e4ab8ecc268/tumblr_p7fou1w7jv1qcs188o1_1280.jpg', alt='alt')
    h3.s-article-card__title Лучшие смартфоны с двумя SIM-картами в 2020 году
    .s-article-card__caption Просмотрты: 5312