mixin briefly(mods, text)

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-briefly--' + modsList[i].trim();
      }
    }

  .s-briefly(class=allMods)&attributes(attributes)
    .s-briefly__cover
      img(src='https://66.media.tumblr.com/9ea45a3a18732840bfeef1efe33c3d3d/tumblr_o8wtveqFKb1s6fyuto2_540.jpg', alt='/')
    .s-briefly__info
      if text
        a.s-briefly__title(href='/') #{text}
      else
        a.s-briefly__title(href='/') Лучшие смартфоны с двумя SIM-картами в 2020 году
      span.s-briefly__views Просмотры: 5312