.s-briefly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__cover {
    width: 85px;
    height: 85px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  &__title {
    color: currentColor;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1rem;
    display: block;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__views {
    font-weight: 300;
    color: #838383;
  }

  &--small {

    .s-briefly__title {
      text-transform: none;
    }
  }
}