.s-brands-info {
  text-align: left;
  font-size: 12px;
  line-height: 20px;

  &__item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background-color: $primary-color;
      border-radius: 16px;
      top: 2px;
      left: 0;
    }
  }

  &__term,
  &__desc {
    display: inline;
  }

  &__desc+&__term::before {
    content: '\A';
    white-space: pre;
  }

  &__desc+&__desc::before {
    content: ', ';
    font-weight: normal;
    // margin-left: -.25em;
  }

  &__term {
    margin: 0;
    font-weight: 700;

    &::after {
      content: '.';
    }
  }

  &__desc {
    font-weight: 300;
  }
}