mixin direction(caption, name, width, height)

  a.s-direction(href='/')
    figure.s-direction__figure
      .s-direction__cover
        svg(width=width height=height): use(xlink:href='#' + name)
      figcaption.s-direction__caption #{caption}