.s-direction {
  display: block;
  border-radius: 10em;
  position: relative;

  &:hover,
  &:focus {

    .s-direction__figure {
      transform: scale(1.03);
      color: $primary-color;
    }

    &::before {
      transform: scale(1.05);
    }
  }

  &::before {
    position: absolute;
    content: '';
    left: -5%;
    width: 110%;
    top: -5%;
    height: 110%;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10em;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.075s;
    transform-origin: center center;
    will-change: transform;
  }

  &__figure {
    margin: 0;
    background-color: #fff;
    color: $text-color;
    position: relative;
    border-radius: 10em;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__cover {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__caption {
    position: absolute;
    top: 60%;
    left: 10%;
    height: 30%;
    width: 80%;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    word-break: keep-all;
    font-weight: 400;
    text-align: center;
    font-family: $font-family--condensed;

    @media only screen and (min-width: $screen-xs) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}