.s-inner-layout {

  &__promo {
    position: relative;
    border-bottom: 8px solid $primary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  &__promo-title {
    position: relative;
    z-index: 10;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__promo-content {
    position: relative;
    z-index: 2;
    background-color: rgba(#fff, 0.7);
    width: 100%;
    max-width: 420px;
    height: 400px;
    overflow-y: scroll;
    padding: 1rem;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    @media only screen and (min-width: $screen-sm) {
      height: 630px;
      padding: 2rem;
    }
  }

  &__promo-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
      z-index: 1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__promo-cover-inner {
    max-width: 1240px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 450px;
  }

  &__main {
    padding: 2rem 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 4rem 1rem;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }

  &__meta {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $font-family--condensed;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
  }

  &__meta-item {
    color: #7f7f7f;
    font-weight: 300;
    margin-left: 0;
    margin-right: 1.5rem;
    display: inline-block;

    span {
      font-weight: 400;
      color: #414141;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-1px);
      margin-right: 0.25rem;
    }
  }

  &__subtitle {
    color: currentColor;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-family--condensed;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__section {
    margin-bottom: 3rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 6rem;
    }

    &--text {

      p {
        font-family: $font-family--condensed;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
      }
    }

    &--actions {
      text-align: center;
    }

    &--poll {
      text-align: center;

      .swiper-wrapper {

        @media only screen and (min-width: $screen-sm) {
          display: flex;
          flex-flow: row wrap;
        }
      }

      .swiper-slide {

        @media only screen and (min-width: $screen-sm) {
          flex: 0 0 33%;
          max-width: 33%;
        }
      }
    }

    &--blockquote {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &--specifications {

      > a {
        color: #8e8e8e;
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        transition: color 0.25s cubic-bezier(0.6, 0, 0, 1);

        &:hover,
        &:focus {
          color: currentColor;
          text-decoration: none;

          span::after {
            transform: scaleX(0);
            transform-origin: right center;
          }
        }

        span {
          position: relative;
          display: inline-block;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transform: scaleX(1);
            transition: transform 0.25s cubic-bezier(0.6, 0, 0, 1);
            transform-origin: left center;
          }
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.5rem;
          transform: translateY(-1px);
        }
      }
    }
  }

  &__search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
      background-color: #ebe4d7;
      border: 0;
      width: 100%;
      height: 40px;
      padding: 10px 15px;
      font-size: 1rem;
      line-height: 20px;
      color: #414141;

      &::placeholder {
        color: #76614f;
      }
    }

    button {
      background-color: #ebe4d7;
      padding: 10px;
      vertical-align: middle;

      svg {
        fill: #76614f;
        vertical-align: middle;
        display: block;
      }
    }
  }

  &__side {
    border: 1px solid #d5ebbb;
    height: 100%;
  }

  &__data {
    border-top: 1px solid #eee7db;
    border-bottom: 1px solid #eee7db;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $font-family--condensed;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: $screen-xs) {
      flex-direction: row;

      span+span {
        margin-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: -1rem;
          height: 100%;
          width: 1px;
          background-color: #eee7db;
        }
      }
    }

    @media (min-width: $screen-sm) {

      span+span {
        margin-left: 4rem;

        &::before {
          left: -2rem;
        }
      }
    }
  }

  &__data-category {
    padding: 0.5rem 0;
    display: inline-block;
    border-bottom: 1px solid #eee7db;
    font-weight: 700;

    @media (min-width: $screen-xs) {
      border-bottom: 0;
    }
  }

  &__data-views {
    color: #898989;
    padding: 0.5rem 0;
    display: inline-block;
  }

  &__text {
    margin-bottom: 2rem;

    >img {
      margin: 0 0 1rem 0;

      @media (min-width: $screen-sm) {
        float: left;
        margin: 0 2rem 2rem 0;
      }
    }
  }
}