.s-page-header {
  background-color: #414141;
  color: #fff;
  position: relative;
  padding: 0.5rem 1rem;
  z-index: 100;

  @media only screen and (min-width: $screen-md) {
    padding: 0.5rem 1rem;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
  }

  &__search-btn {
    padding: 20px;
    vertical-align: middle;
    cursor: pointer;
    order: 3;

    @media only screen and (min-width: $screen-md) {
      order: 2;
    }

    @media only screen and (min-width: $screen-lg) {
      margin-left: 2rem;
    }

    svg {
      fill: #fff;
      display: block;
    }
  }

  &__search-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #414141;
    opacity: 0;
    height: 0;
    visibility: hidden;
    padding: 15px 1rem;

    @media only screen and (min-width: $screen-md) {
      background-color: rgba(65, 65, 65, 0.7);
    }

    label {
      display: block;
      max-width: 1240px;
      margin: auto;
      position: relative;
    }

    input {
      height: 34px;
      width: 100%;
      background-color: #fff;
      font-family: $font-family--condensed;
      font-size: 14px;
      line-height: 26px;
      border: 0;
      color: $text-color;
      padding: 0 6rem 0 2.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23414141; fill-rule: evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath id='search_light_' data-name='search %5Blight%5D' class='cls-1' d='M15.85 15.85a.5.5 0 0 1-.7 0l-5.02-5.07a.5.5 0 0 1 0-.71.5.5 0 0 1 .7 0l5.02 5.07a.5.5 0 0 1 0 .71zM6.23 0A6.25 6.25 0 1 1 0 6.25 6.242 6.242 0 0 1 6.23 0zm0 .99A5.26 5.26 0 1 1 .99 6.25 5.256 5.256 0 0 1 6.23.99z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 14px 50%;

      &::placeholder {
        color: #bcbcbc;
      }
    }

    button {
      position: absolute;
      background-color: #bcbcbc;
      border: 1px solid #fff;
      font-size: 12px;
      line-height: 16px;
      padding: 8px 18px;
      right: 0;
      top: 0;
      display: inline-block;
      font-family: $font-family--condensed;
      color: #fff;
      text-transform: uppercase;
    }

    &--is-open {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  .s-logo {
    order: 2;

    @media (max-width: ($screen-xs - 1)) {
      max-width: 130px;
    }

    @media only screen and (min-width: $screen-md) {
      order: 1;
    }
  }

  .s-main-nav {

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      height: 0;
      visibility: hidden;
      background-color: #414141;
      color: #fff;

      .s-main-nav__list {
        flex-direction: column;

        li {
          margin: 0 1rem;

          > ul {

            > li {
              margin-left: 31px;
            }
          }
        }
      }

      &--is-open {
        height: calc(100vh - 60px);
        padding-top: 4rem;
        padding-bottom: 3rem;
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
      }
    }

    @media (min-width: $screen-sm) {
      margin-left: auto;
    }

    @media (min-width: $screen-md) and (max-width: ($screen-lg - 1)) {
      width: 100%;
      order: 3;

      .s-main-nav__list {
        justify-content: space-between;
      }
    }

    @media (min-width: $screen-lg) {
      order: 2;
    }
  }

  .s-hamburger {
    display: none;

    @media (max-width: ($screen-md - 1)) {
      display: block;
      height: 60px;
      width: 60px;
      order: 2;
      transform: translateX(-1rem);
    }
  }
}