.s-page-content {
  color: #000;
  font-size: 14px;
  line-height: 20px;

  &__title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-color;
    border-bottom: 1px solid currentColor;
    margin-bottom: 1rem;
  }

  ol {
    counter-reset: section;
    list-style-type: none;
    margin-top: 0.75rem;

    li {
      margin-bottom: 0.75rem;

      &::before {
        counter-increment: section;
        content: counters(section, ".");
        font-weight: 700;
      }
    }

    a {
      margin-bottom: 8px;
      text-decoration: underline;
      color: currentColor;
    }
  }

  > ol {

    > li {

      &::before {
        background-color: $text-color;
        color: #fff;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        margin-right: 0.125rem;
      }

      > ol {

        > li {

          > a {
            font-weight: 300;
          }

          > ol {

            > li {

              > a {
                color: #7f7f7f;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}