mixin page-content()

  .s-page-content
    h3.s-page-content__title Содержание
    ol
      li
        a(href='/') Как устроена стиральная машина такого типа?
        ol
          li: a(href='/') Отличие машин, у которых есть режим сушки, от остальных устройств
          li: a(href='/') Какими особенностями обладают такие устройства?
      li: a(href='/') Плюсы и минусы устройств
      li: a(href='/') На что обращать внимание, выбирая машину
      li
        a(href='/') Рейтинг лучших бытовых моделей
        ol
          li
            a(href='/') Машинки стандартных габаритов
            ol
              li: a(href='/') Weissgauff WMD 4148 D
              li: a(href='/') Electrolux EW7WR447W
              li: a(href='/') LG F- 1496 AD3
              li: a(href='/') Indesit XWDA 751680X W
