.s-recommended {
  padding: 2rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 4rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__header {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebe4d6;
    margin: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
    margin-bottom: 2rem;
  }
}