mixin recommended()

  section.s-recommended
    .s-recommended__inner
      .s-recommended__header
        h2.s-recommended__title Мобильные телефоны
        span.s-recommended__label Категории
      ul.s-recommended__list.row
        li.s-recommended__item.col-12
          +recommended-card()
        li.s-recommended__item.col-12
          +recommended-card()
        li.s-recommended__item.col-12
          +recommended-card()
