mixin categories()

  .s-categories
    .s-categories__inner
      ul.s-categories__list.row
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('Товары', 'products', 'products', '29', '32')
            +briefly()
            +briefly()
            +briefly()
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('IT технологии', 'it', 'it', '34', '27')
            +briefly()
            +briefly()
            +briefly()
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('Авто и мото', 'vehicles', 'vehicles', '46', '26')
            +briefly()
            +briefly()
            +briefly()
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('Хобби', 'hobby', 'hobby', '36', '33')
            +briefly()
            +briefly()
            +briefly()
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('Здоровье и красота', 'health', 'health', '35', '29')
            +briefly()
            +briefly()
            +briefly()
        li.s-categories__item.col-12.col-sm-6.col-lg-4
          +category('Строительство и ремонт', 'construction', 'construction', '40', '24')
            +briefly()
            +briefly()
            +briefly()