.s-categories {
  padding: 2rem 1rem;

  @media (min-width: $screen-md) {
    padding: 4rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
    margin-bottom: 2rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }
}