.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: center center;
  will-change: transform;

  @media only screen and (max-width: 374px) {
    padding: 1em 1em;
  }

  @media only screen and (max-width: ($screen-xs - 1)) {
    width: 100%;
  }

  &:hover,
  &:focus {
    transform: scale(0.95);
    text-decoration: none;
  }

  &:active {
    transform: scale(0.9);
    text-decoration: none;
  }

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}