mixin category(title, mods, name, width, height)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +category()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-category--' + modsList[i].trim();
      }
    }

  section.s-category(class=allMods)&attributes(attributes)
    h2.s-category__title
      span.s-category__title-text #{title}
      span.s-category__title-icon
        svg(width=width height=height): use(xlink:href='#' + name)
    .s-category__list
      if block
        block