.s-category {
  background-color: #fff;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__title {
    background-color: #414141;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: $font-family--condensed;
    font-weight: 700;
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-bottom: 3px solid $primary-color;
    position: relative;
  }

  &__title-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    background-color: $primary-color;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      display: block;
    }
  }

  &--products {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 88.24 99.33' fill='%23e5e5e5'%3E%3Cpath fill='none' d='M79.43 80.43c-.6-5.9-1.2-11.9-1.7-17.8-.3-2.8-.4-5.7-.7-8.5-.4-4.2-.8-8.5-1.3-12.7a17.7 17.7 0 01-.1-2.3c0-.6-.2-.9-.9-.9h-51c-.6 0-.9.2-.8.8l1.5 16.8c.4 4.5.8 9.1 1.2 13.6l.9 10.5c.3 3.7.7 7.4 1 11.1.1.7.3.9 1 .9h50.6c1.2 0 1.2 0 1.1-1.2-.23-3.4-.51-6.9-.8-10.3zM36.22 30.73h15.6c.5 0 .7-.2.7-.7 0-3.4.1-6.8-.1-10.2a14.13 14.13 0 00-5.29-10.3l-.3-.3a.77.77 0 00-.1-.3c.3-.1.5-.3.8-.3a12.31 12.31 0 015.4.1l1.2.3a3.75 3.75 0 012.5 2.4 21 21 0 012.2 9.5v8.8c0 .7.2.9.9.9h4c.6 0 .9-.2.9-.8 0-3.6.1-7.2-.2-10.8a13.75 13.75 0 00-6.6-10.6 13.94 13.94 0 00-8.7-2.3 14.58 14.58 0 00-9.6 4.4 13.93 13.93 0 00-3.8 7.3c-.6 3.1-.2 6.2-.3 9.3v2.5c-.21.9.1 1.1.79 1.1z'/%3E%3Cpath d='M87.43 87.73c-.2-2.3-.4-4.6-.6-6.8-.3-3.1-.5-6.1-.8-9.2-.4-5-.9-10-1.31-14.9-.4-4.7-.9-9.4-1.3-14.1-.3-2.7-.5-5.5-.8-8.2a4.58 4.58 0 00-4.3-3.8c-2.2-.1-4.4 0-6.6 0-.8 0-1.1-.3-1.1-1.1v-10.1a18 18 0 00-1.4-6.5 19.69 19.69 0 00-3.3-5.6A20.57 20.57 0 0056.52 1a21.17 21.17 0 00-10.3-.7 20.4 20.4 0 00-8.09 3.3 21.14 21.14 0 00-6.71 7.5 16.35 16.35 0 00-2.09 6.8c-.2 3.9-.2 7.8-.3 11.7 0 1.2 0 1.2-1.2 1.2h-3.6c-.71 0-1-.2-1-1v-8.6c0-4.3 1.4-8.3 4.8-11 2.5-2 4.2-4.6 6.6-6.6 1.2-1 2.59-1.8 3.9-2.7a4.23 4.23 0 01.7-.5.35.35 0 00-.1-.2 22.46 22.46 0 00-6.3.6A20.8 20.8 0 0018 14.43a20.83 20.83 0 00-1 7v8.8c0 .7-.4.8-.9.8h-5.8a4.35 4.35 0 00-3.6 1.4 4.77 4.77 0 00-1.2 2.2c-.4 3-.6 6.1-.9 9.2-.3 2.7-.6 5.4-.8 8.1l-.6 7.2c-.3 4.1-.71 8.6-1.1 13-.4 4.6-.81 9.2-1.2 13.7-.3 2.7-.6 5.3-.8 8a6.19 6.19 0 00.19 3.3 3.67 3.67 0 003.6 2.2h80.44a3.8 3.8 0 003.9-4c-.23-2.5-.51-5-.8-7.6zm-69.8 4.2h-7.5a3 3 0 01-3-3.3l3.79-46.7a3 3 0 013-2.8 3 3 0 013 2.8l3.8 46.7a3.09 3.09 0 01-3.09 3.3zm17.7-64.7c.2-3.1-.3-6.2.3-9.3a15.1 15.1 0 013.79-7.3 14.5 14.5 0 0118.3-2.1 13.73 13.73 0 016.6 10.6c.31 3.6.1 7.2.2 10.8 0 .6-.3.9-.9.8h-4c-.7 0-.9-.2-.9-.9V21a22.41 22.41 0 00-2.2-9.5A3.74 3.74 0 0054 9.13l-1.2-.3a12.31 12.31 0 00-5.4-.1c-.3 0-.5.2-.8.3a.77.77 0 01.1.3l.3.3a14.25 14.25 0 015.4 10.3c.2 3.4 0 6.8.1 10.2 0 .5-.2.7-.7.7H36.22c-.7 0-1-.2-1-1s0-1.83.11-2.6zm44 64.7H28.72c-.7 0-.9-.2-1-.9-.3-3.7-.7-7.4-1-11.1-.3-3.5-.59-7-.9-10.5-.4-4.5-.8-9.1-1.2-13.6L23.12 39c-.1-.6.2-.9.8-.8h51c.7 0 .9.3.9.9a17.7 17.7 0 00.1 2.3c.4 4.2.9 8.5 1.3 12.7.3 2.8.4 5.7.7 8.5.6 5.9 1.1 11.9 1.7 17.8l.9 10.2c.01 1.33.01 1.33-1.2 1.33z'/%3E%3Cpath d='M19.23 34.73l6.29 61.8 22.5-.2-7.6-62.2-21.19.6zM58.13 34.43l6.2 61.9 22.59-.3-7.7-62.2-21.09.6z'/%3E%3C/svg%3E");
  }

  &--it {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 99.6 75.8' fill='%23e5e5e5'%3E%3Cpath d='M80.9 57.1v-1.9h13.6V3.9A3.9 3.9 0 0090.6 0H9.3a3.9 3.9 0 00-3.9 3.9v51.2h46.8V57H0v1.5a4.27 4.27 0 004.3 4.3h48v9.9a3.12 3.12 0 003.1 3.1h22.4a3.12 3.12 0 003.1-3.1v-9.9h14.4a4.27 4.27 0 004.3-4.3V57H80.9zM50 1.1a1.69 1.69 0 011.7 1.7 1.7 1.7 0 01-3.4 0A1.63 1.63 0 0150 1.1zM9.3 49.2v-43h81.3v43.1h-9.7V29.4a3.12 3.12 0 00-3.1-3.1H55.3a3.12 3.12 0 00-3.1 3.1v19.8zm58.6-19.7a1.57 1.57 0 01-1.4.9 1.69 1.69 0 01-1.4-.9 1.27 1.27 0 01-.1-.6 1.5 1.5 0 013 0 .66.66 0 01-.1.6zm10.2 42.4a.79.79 0 01-.8.8H55.8a.79.79 0 01-.8-.8V30.3a.79.79 0 01.8-.8h6c2.4 0 2.4 2.5 4.8 2.5s2.4-2.5 4.8-2.5h6a.79.79 0 01.8.8v41.6z'/%3E%3C/svg%3E");
  }

  &--vehicles {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 99.17 55.5' fill='%23e5e5e5'%3E%3Cpath d='M99 12.5a2.07 2.07 0 00-2.31-2.3h-3.4a4.91 4.91 0 01-1.1-.1c-1.8-.5-1.4-1.5-1-2.1.2-.3 2.7-.6 3.1-.8 1.4-.6 2.4-1.3 2.6-2.9A2.9 2.9 0 0095.47 1a3.07 3.07 0 00-4 .4c-1.4 1.1-2.2 1.8-2.2 3.8 0 .7.2 1.1-.1 1.6s-.5.8-.69 1.2a1.83 1.83 0 01-2.2 1.3h-3.2a1.91 1.91 0 01-2.2-1.3 7.46 7.46 0 00-.7-1.2c-.3-.5-.1-.9-.1-1.6 0-2.1-.8-2.7-2.2-3.8s-2.6-1.3-4-.4-1.6 1.7-1.4 3.3 1.1 2.2 2.6 2.9c.4.2 2.8.5 3.1.8.4.5.8 1.5-1 2.1-.5 0-.8.1-1.1.1h-3.4a2.06 2.06 0 00-2.3 2.3v.5c0 1.4.8 2.1 2.2 2.2h4.3a2.77 2.77 0 01.9.1v1.1c-.1 2.3-.3 4.5-.4 6.8-.2 4.4-1.3 7.7-1.6 12.1-.7 8.7 2.2 9.5 3.1 9.5 0-.5.1-.8.1-1.2v-3.4a5.78 5.78 0 015.6-5.5H85a5.76 5.76 0 015.59 5.5v3.4a5.28 5.28 0 00.1 1.2c.9 0 3.81-.9 3.1-9.5-.3-4.4-1.4-7.7-1.6-12.1-.1-2.3-.3-4.5-.4-6.8v-1.1c.4 0 .7-.1.9-.1H97c1.4 0 2.09-.8 2.19-2.2a.57.57 0 01-.19-.5zm-14.41 10a5.74 5.74 0 01-5.8-5.8c-.2-3.2 2.9-5.9 5.8-5.9a6.1 6.1 0 015.81 5.9 5.68 5.68 0 01-5.83 5.8z'/%3E%3Cpath d='M84.67 37.3h-.1a3.21 3.21 0 00-3.19 3.2v11.7a3.22 3.22 0 003.19 3.2h.2A3.22 3.22 0 0088 52.2V40.5a3.3 3.3 0 00-3.33-3.2zM84.57 13.5a3.3 3.3 0 103.31 3.3 3.33 3.33 0 00-3.31-3.3zM66.07 30.1a14.72 14.72 0 00-.5-4.2 7.4 7.4 0 00-2.29-3.5 3 3 0 01-.71-.9c-.7-1.6-1.29-3.3-1.9-5-.8-2.2-1.7-4.4-2.5-6.6-.6-1.6-1.2-3.3-1.9-4.9a8.43 8.43 0 00-2.8-3.4A9.08 9.08 0 0050 .1a3.4 3.4 0 00-1-.1H17.17a3.44 3.44 0 00-1 .1 8.47 8.47 0 00-3.5 1.5A8 8 0 009.87 5C9.17 6.6 8.57 8.3 8 9.9c-.81 2.2-1.7 4.4-2.5 6.6-.6 1.7-1.31 3.3-1.91 5a1.56 1.56 0 01-.7.9 7.42 7.42 0 00-2.3 3.5 15.47 15.47 0 00-.5 4.2q-.13 3.15 0 6.3a18 18 0 00.8 5.2 5.73 5.73 0 001.5 2.6 10.31 10.31 0 001.7 1.1 1.35 1.35 0 01.81 1.3v5.8a12.22 12.22 0 00.19 1.8c.1.5.31.9.7 1a4.15 4.15 0 001.6.3h5.3a4.4 4.4 0 001.11-.2 1.5 1.5 0 001.1-1.2 5.7 5.7 0 00.1-1.3v-6.1c0-.9 0-.9.9-.9h34.4c.9 0 .9 0 .9.9v6.1c0 .5.1.9.1 1.3a1.37 1.37 0 001.09 1.2c.41.1.7.1 1.1.2h5.3a9 9 0 001.6-.3 1 1 0 00.7-1 11 11 0 00.2-1.8v-5.8a1.29 1.29 0 01.8-1.3 5.37 5.37 0 003.2-3.7 15.67 15.67 0 00.8-5.2q.13-3.15-.02-6.3zm-53.39 7.6a4.3 4.3 0 11.1-8.6 4.14 4.14 0 014.29 4.3 4.28 4.28 0 01-4.39 4.3zm28.7 3.8h-16.6v-4.1h16.6zm12-3.8a4.21 4.21 0 01-4.3-4.3 4.15 4.15 0 014.3-4.3 4.35 4.35 0 014.4 4.3 4.42 4.42 0 01-4.4 4.3zm5.1-15.7H7.67a.88.88 0 01-.8-1.1c0-.2.1-.3.1-.5.6-1.7 1.3-3.4 1.9-5 .8-2.1 1.6-4.2 2.4-6.4.4-1 .7-2.1 1.1-3.1a6.46 6.46 0 011.8-2.2 6.18 6.18 0 013.7-1.1h30.2a6 6 0 013.71 1.1 4.31 4.31 0 011.79 2.2c.41 1 .71 2.1 1.1 3.1.8 2.1 1.6 4.2 2.4 6.4.6 1.7 1.3 3.4 1.91 5a1 1 0 01.09.5c.31.6 0 1-.59 1.1z'/%3E%3C/svg%3E");
  }

  &--hobby {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.48 84.3' fill='%23e5e5e5'%3E%3Cpath d='M7 60.4l-1.2-.6-1.5-.3a1.33 1.33 0 00-1.4 1.7 16.67 16.67 0 00.8 2 1.1 1.1 0 01.1 1.1c-.3.8-.6 1.7-.9 2.6.9-.4 1.8-.8 2.6-1.2a.9.9 0 011 0 4.07 4.07 0 001.8.5 1.26 1.26 0 001.5-1.6 12.66 12.66 0 00-.6-1.8 5.67 5.67 0 00-.8-1.3c-.4-.3-.8-.6-1.4-1.1z'/%3E%3Cpath d='M93.2 76.6a2 2 0 00-2.5 1.4 2.85 2.85 0 01-1.8 1.9 8.66 8.66 0 01-3.2.6H57.5a2 2 0 01-.7-.1c.1-.2.1-.4.2-.6.4-1.1.4-1.1 1.6-1.1h18.8a14.77 14.77 0 002.1-.1 8.34 8.34 0 004.8-1.8c1.3-1.1 2.3-2.5 1.7-4.4a1.76 1.76 0 00-1-1.2 2 2 0 00-2.6 1.4 2.4 2.4 0 01-1.7 1.8 14 14 0 01-2.8.6H59.7a2 2 0 01-.7-.1 10.37 10.37 0 01.4-1c1.4-3.6 2.8-7.1 4.2-10.6a4.61 4.61 0 00-.4-4.4c-2.1-3.2-4.2-6.5-6.3-9.7a.91.91 0 01-.1-1.1c2-4.2 4.1-8.4 6.1-12.6a5.74 5.74 0 01.4-.7 1.38 1.38 0 00.3.4c1.5 2.3 3 4.6 4.4 6.9a3.55 3.55 0 005.3 1.2c2.5-1.6 5-3.2 7.4-4.8.2-.1 4-2.6 4.4-2.9a15.26 15.26 0 001.6-1.1 3.26 3.26 0 00-3.9-5.2c-3.2 1.9-6.4 3.7-9.6 5.6l-.6.3c-.4-.6-.7-1.3-1.1-1.8-1.6-2.4-3.1-5-4.9-7.3a13.09 13.09 0 00-10-5.2 44.08 44.08 0 00-8.1.5c-2.6.2-5.1.5-7.7.8a5 5 0 00-2.4.9c-3.6 2.9-7.1 5.8-10.7 8.6a3.14 3.14 0 00-1.3 3.1 10 10 0 002.3 2.7c1.3.4 2.3-.2 3.3-.9 2.9-2.1 5.7-4.1 8.6-6.3a4.88 4.88 0 013.3-1.1c.4 0 .8-.1 1.1-.1 1.2-.1 2.5-.1 3.8-.2-1.1 3.4-1.9 6.5-4.1 9.9a7.5 7.5 0 00.2 9 17.1 17.1 0 001.1 1.4.89.89 0 01.2 1.1c-1.1 3.3-2.2 6.6-3.3 10a2.29 2.29 0 01-.7 1c-3.6 3.3-7.2 6.5-10.9 9.7a5.05 5.05 0 00-2.1 3.7.35.35 0 00-.1.2H1.8C.7 75 0 75.6 0 76.6a1.86 1.86 0 001.7 1.9h47.5v1.8H9.9a2 2 0 00-1.8 1.9 2 2 0 001.6 2 5.7 5.7 0 001.3.1h74.5a10.84 10.84 0 005.8-1.4 5.81 5.81 0 003-4.1 1.55 1.55 0 00-1.1-2.2zm-42.5-1.7H39.1c.5-.4.8-.7 1.2-1 2.9-2.3 5.8-4.6 8.6-6.9a4.81 4.81 0 001.7-2.3c.7-1.9 1.4-3.8 2.1-5.8.8 1.1 1.5 2.2 2.3 3.2-1.4 4.3-2.8 8.5-4.3 12.8z'/%3E%3Cpath d='M75.7 65.7a6.1 6.1 0 00-2.7.3 1.36 1.36 0 00-.6 2.3 4.81 4.81 0 001.6 1.2c.4.3.7.5.7 1 .1.9.3 1.7.4 2.8.4-.6.8-1.1 1.1-1.6a2.29 2.29 0 012.3-1.5h.3c.8-.2 1.5-.4 1.7-1.3s-.4-1.4-1-1.9a2.18 2.18 0 00-.8-.5 20.44 20.44 0 00-3-.8zM67 6a7.77 7.77 0 017.9 7.9 7.88 7.88 0 01-7.9 8A8 8 0 0167 6zM5.49658406 62.837404L32.7989813 29.2298289l1.08661905.88275649-27.30239725 33.6075751z'/%3E%3Cpath d='M75.79362525 68.055251L86.03782631 23.9287698l1.36373231.31659782-10.24420106 44.12648122zM70.5 5.9c-3-3.3-6.2-3-10.9-3.2-1.6 5-2 6.8-1.5 9.7z'/%3E%3Ccircle cx='59.4' cy='1.9' r='1.9'/%3E%3Cpath d='M72 7.9l-12.9 6.9a.48.48 0 01-.6-.2l-1.2-2.2a.48.48 0 01.2-.6l12.9-6.9a.48.48 0 01.6.2l1.2 2.2a.48.48 0 01-.2.6z'/%3E%3C/svg%3E");
  }

  &--health {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 99.12 84.46' fill='%23e5e5e5'%3E%3Cpath d='M99 27.29a36.91 36.91 0 00-2.1-9.3 29.81 29.81 0 00-6.1-9.9 21.08 21.08 0 00-8.2-5.6 28.66 28.66 0 00-8.2-1.8 28.21 28.21 0 00-9.6.8 37.74 37.74 0 00-9 3.9c-1.5.8-2.9 1.6-4.4 2.4-.7.3-1.7.8-1.7.8s-1.5-.8-2-1c-1.6-.9-3.2-1.9-4.7-2.8A32.18 32.18 0 0031.78.29a24.47 24.47 0 00-8.1.1 26.27 26.27 0 00-7.3 2.5 28.73 28.73 0 00-16.3 24.3 33.15 33.15 0 003.1 16.1.81.81 0 00.9.8h14.8c.8 0 .8 0 1-.7l3.9-10.5a4.12 4.12 0 014.2-2.8 3.94 3.94 0 013.8 3c1.2 4 2.5 8 3.7 12 .2.6.4 1.3.6 1.9h.1c.5-1.9 1-3.8 1.4-5.8l2.7-10.8c.9-3.7 1.8-7.3 2.7-11 .3-1.1.5-2.2.8-3.3A4.23 4.23 0 0148 13a4.15 4.15 0 013.9 3.3c.5 2.2 1 4.5 1.5 6.8.8 3.6 1.5 7.1 2.3 10.7.7 3.3 1.4 6.5 2.1 9.8.1.5.3.6.7.6h11.6a4.11 4.11 0 014 2.9 4.16 4.16 0 01-3.9 5.4H54.28a4.2 4.2 0 01-4-3.3c-.2-1.1-.5-2.1-.7-3.2-.7-3.1-1.3-6.2-2-9.3 0-.1-.1-.2-.2-.4a3.93 3.93 0 00-.2.6c-.9 3.7-1.8 7.3-2.7 11-.8 3.2-1.6 6.5-2.4 9.7-.5 2.2-1 4.3-1.6 6.5a4.21 4.21 0 01-8.1.1c-.3-1-.6-2.1-1-3.1-1.3-4.1-2.5-8.2-3.8-12.3a4.87 4.87 0 00-.4-1.1h-.1c-.2.6-.5 1.3-.7 1.9a4.39 4.39 0 01-4.1 3H7.18c4.9 5.6 16.9 14 20.3 16.7 2.8 2.1 5.5 4.3 8.4 6.3 4.2 2.9 8.5 5.7 12.8 8.5.7.5.7.5 1.4 0 3.7-2.4 7.3-4.9 11-7.2 6-3.7 12-7.2 17.7-11.3A49.28 49.28 0 0092 53.09a42.34 42.34 0 005.7-11.7 39.38 39.38 0 001.3-14.1zm-13.1-6.1a20.57 20.57 0 00-9.7-9.4c.1-1.9.1-3.8.2-5.6a31.93 31.93 0 0115.1 14.6c-1.82.1-3.72.3-5.62.4z'/%3E%3C/svg%3E");
  }

  &--construction {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.6 59.64' fill='%23e5e5e5'%3E%3Cpath fill='none' d='M59.2 5.9v.4z'/%3E%3Cpath d='M93.7 6.7h-.8l-1.8 1.9a2.2 2.2 0 00.8.1h1.8L95.4 7a1.42 1.42 0 00-.6-.2 4.48 4.48 0 00-1.1-.1zM87.9 6.8L86 8.6h.1a3.55 3.55 0 001 .2h1.7l1.7-1.7a2.22 2.22 0 00-1.6-.3zM79.2 6.9h-.3V5.5c0-.3-.1-.4-.4-.5-1.5-.6-3.1-1.2-4.6-1.7a.9.9 0 00-.5-.1c-1.3 0-2.5 0-3.8.1h-.3v-.5c0-.3-.1-.4-.4-.4h-.6v-.1c-.1-.4-.2-.4-.6-.4-1.8 0-3.7.1-5.5.1h-2.3c-.4 0-.5.1-.5.5v.6c0 .2 0 .3-.1.4a.35.35 0 00-.1.2v6.6h.1V13c0 .2 0 .4.3.5v.6a.37.37 0 00.1.3c.1.2.2.3.4.3h1.1c2.2 0 4.5-.1 6.7-.1.4 0 .4-.1.5-.4a.31.31 0 01.1-.2h.5c.3 0 .4-.1.4-.4v-.5h.3c1.2 0 2.5 0 3.7-.1a.75.75 0 00.5-.1c1.5-.6 3.1-1.3 4.6-1.9.2-.1.3-.2.3-.4V9h.3c1.5 0 2.9-.1 4.4-.1l1.8-1.8a4.15 4.15 0 00-1.6-.3c-1.4.1-2.9.1-4.5.1zM50.5 22.8h-2.8a.9.9 0 00-.5.1.55.55 0 00-.3.5c0 .2.1.3.4.4a.6.6 0 01.4.1c.5.1 1.1.1 1.6.2a1.42 1.42 0 01.6.2 2.54 2.54 0 011.4 1.3 5.26 5.26 0 01.4 1.7 22.84 22.84 0 010 3.7c-.1 2.2-.3 4.5-.4 6.7-.2 3.5-.3 7-.2 10.4 0 2.4.1 4.9.2 7.3a22.75 22.75 0 00.2 2.6v.3c-.1 0-.1.1-.2.1-.4.2-.4.7.1.9a2.92 2.92 0 00.9.2 19 19 0 003.4.1c1.1-.1 2.2-.1 3.3-.2.3 0 .5-.1.8-.1.1 0 .2-.1.3-.1.3-.2.4-.6 0-.8-.1 0-.1-.1-.2-.1v-1.5c.1-3.1.1-6.2 0-9.4-.1-2.1-.2-4.1-.3-6.2s-.3-3.9-.5-5.8-.3-3.9-.5-5.8a10.75 10.75 0 01.1-3.1c.1-.4.2-.7.3-1.1a2 2 0 011.2-1.2 3.29 3.29 0 011.7-.4 2 2 0 00.7-.1.66.66 0 00.5-.4.44.44 0 00-.4-.6h-.3l-11.9.1z'/%3E%3Cpath d='M57.1 14.2a.76.76 0 00.4-.1c0-1.3 0-2.6-.1-3.9h.2v-4h-.3c0-1.2 0-2.4-.1-3.6h-.4V1.2a.37.37 0 00-.4-.4h-3.3c-.4 0-.5.2-.5.5v1.3a.66.66 0 01-.6-.1A19 19 0 0046.4.8a44 44 0 00-8.9-.8c-3.2 0-6.4.1-9.6.2-2.2.1-.2.5-2 .6s-3.8.3-5.7.5c-3.3.3-6.6.7-9.9 1.3a25.85 25.85 0 00-4 .9 2 2 0 00-.8.4 1 1 0 00-.4 1.5A3.13 3.13 0 006 6.5a2.51 2.51 0 011 2.1 5.11 5.11 0 01-.3 2.1 65.43 65.43 0 00-2.4 7.5 116.1 116.1 0 00-2.9 13C1 33.4.7 35.5.5 37.7c-.2 1.4-.3 2.8-.4 4.1S0 44.2 0 45.4a1.46 1.46 0 00.7 1.3.1.1 0 01.1.1.55.55 0 01.3.5v.5a2.28 2.28 0 00.6 1.2l.9.6a17.6 17.6 0 003 1 .37.37 0 01.3.1 3 3 0 011.3.5 2.46 2.46 0 002.2.3 1.42 1.42 0 00.6-.2 2.18 2.18 0 00.5-.4 7.22 7.22 0 00.9-2 1.16 1.16 0 00-.2-1 35.42 35.42 0 01-1.9-3.3 1.67 1.67 0 01-.1-1.2c.5-2.1.9-4.2 1.3-6.4v-.1c0-.2.1-.3.3-.4s.3-.1.5-.2.1 0 .2-.1c.3 0 .6-.1.8-.1a1.7 1.7 0 001.5-1.4c.1-.4.1-.8.2-1.1 0-.1 0-.2.1-.2s.2-.2.2-.3l.6-2.4c0-.1.1-.3 0-.4V30c.1-.4.2-.8.3-1.3a.85.85 0 01.7-.7h.8l1.4.3a.76.76 0 00.9-.3 4.35 4.35 0 00.6-.7c.9-1.2 1.8-2.4 2.6-3.7.1-.2.3-.2.5-.2a31.81 31.81 0 003.8-.2 1.14 1.14 0 01.8.3.91.91 0 00.7.3c2.8-.1 5.6-.1 8.4-.2V1.8h3v21.6c.3 0 .6-.1.8-.1s.5-.2.8-.3a2.94 2.94 0 001.6-1.5 1 1 0 01.4-.5 17.39 17.39 0 011.8-1.1c1.6-1 3.3-2 4.8-3.1a18.63 18.63 0 002.6-2.3c.2-.2.3-.3.6-.2 0 2.3.1 4.6.1 7l4.3-.1c0-2.3-.1-4.6-.1-7zM97.9 6.7a.1.1 0 01-.1-.1L96 8.4a1.2 1.2 0 00.8.2h.8c.2 0 .3 0 .4-.2s.4-.5.6-.8a5.5 5.5 0 00-.7-.9z'/%3E%3C/svg%3E");
  }

  &__list {
    position: relative;
    z-index: 2;
    padding-top: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-top: 2rem;
    }
  }
}