//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/direction/direction.pug
include ../blocks/categories/categories.pug
include ../blocks/category/category.pug
include ../blocks/briefly/briefly.pug
include ../blocks/popular-articles/popular-articles.pug
include ../blocks/article-card/article-card.pug
include ../blocks/recommended/recommended.pug
include ../blocks/recommended-card/recommended-card.pug
include ../blocks/inner-layout/inner-layout.pug
include ../blocks/tabs/tabs.pug
include ../blocks/rubrics/rubrics.pug
include ../blocks/small-card/small-card.pug
include ../blocks/promo-slider/promo-slider.pug
include ../blocks/pros-and-cons/pros-and-cons.pug
include ../blocks/product-card/product-card.pug
include ../blocks/poll-card/poll-card.pug
include ../blocks/brands-info/brands-info.pug
include ../blocks/rating/rating.pug
include ../blocks/page-content/page-content.pug
