mixin rubrics

  .s-rubrics
    h3.s-rubrics__title Рубрики
    ul.s-rubrics__list
      li.menu-item-15
        a(href='/') Эзотерика
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item
      li.menu-item-20
        a(href='/') Фен-Шуй
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item
      li.menu-item-30
        a(href='/') Нетрадиционная медицина
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item
      li.menu-item-443
        a(href='/') Релаксация
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item
      li.menu-item-1526
        a(href='/') Позитивное мышление
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item
      li.menu-item-5222
        a(href='/') Камни и талисманы
        ul
          li: a(href='/') Item
          li: a(href='/') Item
          li: a(href='/') Item