mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .row
        .col-12.col-md-3
          +logo('/index.html').s-page-footer__logo
            img(src='img/logo.svg', alt='Logo', width='144', height='32')
          .s-page-footer__slogan Подборка самых актуальных обзоров и рейтингов товаров и услуг
        .col-12.col-md-9
          .row
            .col-12.col-md
              ul.s-page-footer__info-list
                li: a(href='/') О нас
                li: a(href='/') Редакция
                li: a(href='/') Обратная связь
                li: a(href='/') Соглашение и правила
                li: a(href='/') Правообладателям
              .s-page-footer__copyright
                span Копирование материала разрешено только с активной гиперссылкой на сайт
                span "ВыборОК" ©vyborok.com 2015 - 2019
            .col-12.col-md-auto
              .s-page-footer__suitability 16+
