.s-page-footer {
  background-color: #414141;
  color: #fff;
  padding: 2rem 1rem;

  @media (min-width: $screen-md) {
    padding: 4rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__slogan {
    font-size: 12px;
    line-height: 18px;
  }

  &__direction-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;

      @media only screen and (min-width: $screen-sm) {
        display: inline-block;
        margin-right: 2rem;
      }

      > a {
        display: inline-block;
        padding: 0.25rem 0;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        font-family: $font-family--condensed;
        color: currentColor;
        position: relative;

        @media only screen and (min-width: $screen-sm) {
          opacity: 0.5;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: currentColor;
          transform: scaleX(0);
          transition: transform 0.25s cubic-bezier(0.6, 0, 0, 1);
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          color: currentColor;
          text-decoration: none;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      text-align: right;
    }

    > li {
      margin: 0;
      padding: 0;
      margin-bottom: 0.25rem;

      @media only screen and (min-width: $screen-sm) {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 0.125rem;

          &::after {
            content: '|';
            display: inline-block;
            margin-left: 0.125rem;
          }
        }
      }

      > a {
        color: currentColor;
        font-family: $font-family--condensed;
        font-size: 12px;
        line-height: 22px;

        @media only screen and (min-width: $screen-sm) {
          font-size: 16px;
        }
      }
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      text-align: right;
    }

    span {

      @media only screen and (min-width: $screen-md) {
        display: block;
      }
    }
  }

   &__suitability {
     width: 63px;
     height: 63px;
     background-color: #fff;
     border-radius: 20rem;
     color: #414141;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 45px;
     line-height: 1em;
     font-weight: 700;
     word-break: normal;
     letter-spacing: -0.05em;

     @media only screen and (min-width: $screen-sm) {
       margin-left: 1rem;
     }
   }
}