.s-popular-articles {
  padding: 2rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 4rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}