mixin popular-articles()

  section.s-popular-articles
    .s-popular-articles__inner
      h2.s-popular-articles__title Популярные статьи
      ul.s-popular-articles__list.row
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()
        li.s-popular-articles__item.col-12.col-sm-6.col-md-4.col-lg-2.col-xl-2
          +article-card()