mixin small-card()

  .s-small-card
    .s-small-card__cover
      img(src='https://66.media.tumblr.com/0344abf5dc4872f305b7d3aaf150a336/tumblr_mlqoyeBBsC1qfvmx3o1_540.jpg', alt='/')
    .s-small-card__info
      h4.s-small-card__title Лучшие смартфоны с двумя SIM-картами в 2020 году