.s-small-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;

  .swiper-slide-thumb-active &,
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: rgba($primary-color, 0.5);

    .s-small-card__cover {
      transform: scale(0.95)
    }

    .s-small-card__cover img {
      transform: scale(1.15)
    }
  }

  &__cover {
    position: relative;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;
    overflow: hidden;
    flex: 0 0 70px;
    max-width: 70px;


    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform-origin: center center;
      will-change: transform;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__title {
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-right: 1rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}