.s-poll-card {
  text-align: center;

  &:hover {

    .s-poll-card__upper {
      opacity: 1;
    }

    .s-poll-card__like {
      top: 50%;
      opacity: 1;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.05s;
    }
  }

  &__main {
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
  }

  &__cover {
    width: 100%;
    position: relative;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }
  }

  &__upper {
    background-color: rgba(#fff, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__like {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
  }

  &__footer {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
  }
}