mixin promo-slider()

  .s-promo-slider
    .s-promo-slider__inner
      .s-promo-slider__button
        .s-promo-slider__button-prev
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10.97 3', width='11', height='3')
            path(fill='#fff', d='M0 0h10.97v3H0z')
      .s-promo-slider__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
            .swiper-slide
              +small-card()
      .s-promo-slider__button
        .s-promo-slider__button-next
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10.97 10.97', width='11', height='11')
            g(fill='#fff')
              path(d='M0 3.98h10.97v3H0z')
              path(d='M3.98 0h3v10.97h-3z')

