.s-promo-slider {
  padding: 5px 1rem;
  background-color: #414141;
  color: #fff;

  &__inner {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__button {
    flex: 0 0 60px;
    max-width: 60px;
  }

  &__button-prev,
  &__button-next {
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    position: relative;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;

    &:hover,
    &:focus {
      transform: scale(0.95);
      color: darken($primary-color, 15%);
    }

    &:active {
      transform: scale(0.9);
      color: darken($primary-color, 30%);
    }

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0)
    }
  }

  &__button-next {
    margin-left: auto;
  }

  &__slider {
    flex: 0 0 calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}