extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  +promo
  +promo-slider
  +categories
  +recommended
  +popular-articles

block footer
  +page-footer