extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .s-inner-layout
    .s-inner-layout__promo
      .s-inner-layout__promo-content
        +page-content
      .s-inner-layout__promo-cover
        .s-inner-layout__promo-cover-inner
          h1.s-inner-layout__promo-title Описание
        img(src='https://images.unsplash.com/photo-1486425091969-f62210f08a26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80', alt='/')
    .s-inner-layout__main
      .s-inner-layout__inner
        .row.align-items-start
          .col-12.col-lg-8.col-xl-8
            .s-inner-layout__meta
              ul.s-inner-layout__meta-list
                li.s-inner-layout__meta-item
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 63.43 63.42', width='14', height='14', fill='#7f7f7f')
                    path(d='M63.43 0v63.42H0V0zM5.77 5.76v51.89h51.88V5.76z')
                    path(d='M46.86 18.07l4 4-25 25.2q-6.66-6.81-13.33-13.6l4-3.95 9.29 9.31z')
                  | Размещено:
                  span Материалы, строительство и ремонт
                li.s-inner-layout__meta-item
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 36.24 22.74', width='22', height='14', fill='#7f7f7f')
                    path(d='M0 11.38v-.16c.85-1.12 1.65-2.28 2.57-3.34a25 25 0 017-5.65A17.56 17.56 0 0120.36.15a18.22 18.22 0 017.23 2.62 27.75 27.75 0 018.25 7.9l.4.57v.21a26.73 26.73 0 01-4 4.84 23.67 23.67 0 01-7 4.9 17.07 17.07 0 01-14.34-.05 24.19 24.19 0 01-7.32-5.28 29.25 29.25 0 01-3.44-4.24zm18.11 9.08a16.11 16.11 0 008.18-2.23 21.59 21.59 0 006.88-6.4c.32-.47.32-.47 0-.94a22.28 22.28 0 00-4.52-4.79 17 17 0 00-9.28-3.77 16 16 0 00-9.54 2.25 21.41 21.41 0 00-6.76 6.33c-.32.46-.32.46 0 .93a22.07 22.07 0 004.51 4.79 16.79 16.79 0 0010.53 3.83z')
                    path(d='M18.12 18.19a6.82 6.82 0 116.82-6.78 6.83 6.83 0 01-6.82 6.78z')
                  | Просмотрено: 16
                li.s-inner-layout__meta-item
                  span Время прочтения: 9 мин.

            h2.s-inner-layout__subtitle Описание

            .s-inner-layout__section.s-inner-layout__section--text
              p Тест велосипеда — важная часть процесса покупки, но именно она может вызывать наибольшие трудности. Даже если вы проедете по магазину, у вас не будет возможности в полной мере оценить тормоза, переключатель скоростей, манёвренность или удобство.
              p Для полноценного теста нужна открытая местность. Устроить такой тест можно несколькими способами. Самый простой — найти понравившуюся модель у друзей. Более сложный — убедить сотрудников магазина, чтобы они позволили вам прокатиться на велосипеде, например по территории парковки.
              p Для теста обязательно оденьтесь так, как вы собираетесь ездить на велосипеде. Попросите консультанта, чтобы он отрегулировал велосипед под вас. На тестовую поездку надо не меньше 15 минут. За это время вы проверите, как чувствуете себя на сиденье, как модель заходит на повороты, плавный ли переход между скоростями, насколько быстро срабатывает тормоз, и многое другое.

            .s-inner-layout__section
              .s-table
                table
                  caption Технические характеристики
                  tbody
                    tr
                      td Год выпуска
                      td 2018
                    tr
                      td Бренд
                      td Specialized
                    tr
                      td Категория
                      td Шоссейные велосипеды
                    tr
                      td Диаметр колеса
                      td 28'
                    tr
                      td Грипсы
                      td N/A
                    tr
                      td Рама
                      td Рама	Specialized SL4 FACT 10r carbon, 1-1/8" to 1-3/8" head tube, compact race design, Zertz, internal rear brake cable, OSBB
                    tr
                      td Обод
                      td N/A
                    tr
                      td Вилка
                      td FACT carbon fiber, full carbon monocoque, Zertz inserts
                    tr
                      td Тормоза
                      td AXIS 1.0
                    tr
                      td Передний переключатель
                      td Shimano Tiagra, braze-on
                    tr
                      td Задний переключатель
                      td Shimano Tiagra, long cage, 10-speed
                    tr
                      td Манетки/шифтеры
                      td Shimano Tiagra STI, 10-speed
                    tr
                      td Система
                      td Praxis Alba
                    tr
                      td Цепь
                      td KMC X10, 10-speed w/reusable MissingLink
                    tr
                      td Вынос
                      td Specialized, 3D forged alloy, 4-bolt, 7-degree rise
                    tr
                      td Седло
                      td Body Geometry Toupé Sport, hollow Cr-Mo rails, 143mm
                    tr
                      td Покрышки
                      td Espoir Elite, 700x25mm
                    tr
                      td Амортизатор
                      td N/A
                    tr
                      td Количество скоростей
                      td 20

            .s-inner-layout__section
              +pros-and-cons()

            .s-inner-layout__section.s-inner-layout__section--actions
              +btn('Голосование: Кто лучше?')

            .s-inner-layout__section.s-inner-layout__section--specifications
              a(href='/')
                span Полный обзор
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 450.9 451', width='17', height='17')
                  path(d='M447 428L337.4 318.4a191.52 191.52 0 0047.2-126.1C384.6 86.2 298.3 0 192.3 0S0 86.3 0 192.3s86.3 192.3 192.3 192.3a191.52 191.52 0 00126.1-47.2L428 447a13.59 13.59 0 009.5 4 13.17 13.17 0 009.5-4 13.52 13.52 0 000-19zM26.9 192.3C26.9 101.1 101.1 27 192.2 27s165.3 74.2 165.3 165.3-74.1 165.4-165.3 165.4S26.9 283.5 26.9 192.3z')

              .row.align-items-center
                .col-12.col-sm-4
                  img(src='img/bicycle-example.png', alt='/')
                .col-12.col-sm-4
                  img(src='img/grades.png', alt='/')
                .col-12.col-sm-4
                  img(src='img/overall.png', alt='/')

            .s-inner-layout__section.s-inner-layout__section--poll
              h2.s-inner-layout__subtitle Голосование за лучшую модель
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    +poll-card()
                  .swiper-slide
                    +poll-card()
                  .swiper-slide
                    +poll-card()
                  .swiper-slide
                    +poll-card()
                  .swiper-slide
                    +poll-card()
                  .swiper-slide
                    +poll-card()

            .s-inner-layout__section.s-inner-layout__section--blockquote
              blockquote Велосипедист, знай! Голова наиболее уязвима при падении. Надежный шлем - гарантия Вашей безопасности!

            .s-inner-layout__section
              h2.s-inner-layout__subtitle Лучшие производители городских велосипедов
              .s-brands-info
                .row
                  .col-12.col-md-6
                    dl.s-brands-info__list
                      .s-brands-info__item
                        dt.s-brands-info__term Stels
                        dd.s-brands-info__desc Это один из самых популярных брендов у отечественных велосипедистов. Stels производит городские велосипеды для взрослых и детские модели.
                      .s-brands-info__item
                        dt.s-brands-info__term Schwinn
                        dd.s-brands-info__desc Один из старейших брендов, под которым выпускаются велики. Многие спортсмены получали золотые медали именно на велосипедах от Schwinn. У фирмы есть и модели для города, которые уже более ста лет пользуются популярностью у велосипедистов всего мира.
                      .s-brands-info__item
                        dt.s-brands-info__term Giant
                        dd.s-brands-info__desc Тайванская фирма, которая производит отличные велосипеды. На заводах Giant также собираются и велосипеды многих других брендов.
                      .s-brands-info__item
                        dt.s-brands-info__term Shulz
                        dd.s-brands-info__desc Фирма появилась сравнительно недавно и уже успела завоевать сердца велосипедистов по всей планете. Бренд производит исключительно модели для города.
                      .s-brands-info__item
                        dt.s-brands-info__term Forward
                        dd.s-brands-info__desc Это одна из самых крупных велосипедных фирм нашей страны. Под брендом Forward выпускаются модели разных видов и размеров.
                  .col-12.col-md-6
                    dl.s-brands-info__list
                      .s-brands-info__item
                        dt.s-brands-info__term Stels
                        dd.s-brands-info__desc Это один из самых популярных брендов у отечественных велосипедистов. Stels производит городские велосипеды для взрослых и детские модели.
                      .s-brands-info__item
                        dt.s-brands-info__term Schwinn
                        dd.s-brands-info__desc Один из старейших брендов, под которым выпускаются велики. Многие спортсмены получали золотые медали именно на велосипедах от Schwinn. У фирмы есть и модели для города, которые уже более ста лет пользуются популярностью у велосипедистов всего мира.
                      .s-brands-info__item
                        dt.s-brands-info__term Giant
                        dd.s-brands-info__desc Тайванская фирма, которая производит отличные велосипеды. На заводах Giant также собираются и велосипеды многих других брендов.
                      .s-brands-info__item
                        dt.s-brands-info__term Shulz
                        dd.s-brands-info__desc Фирма появилась сравнительно недавно и уже успела завоевать сердца велосипедистов по всей планете. Бренд производит исключительно модели для города.
                      .s-brands-info__item
                        dt.s-brands-info__term Forward
                        dd.s-brands-info__desc Это одна из самых крупных велосипедных фирм нашей страны. Под брендом Forward выпускаются модели разных видов и размеров.

            .s-inner-layout__section.s-inner-layout__section--rating
              h2.s-inner-layout__subtitle Рейтинг лучших детских термометров
              .s-rating
                ul.s-rating__list
                  li.s-rating__item Термометр ITherm iFever умный детский

            .s-inner-layout__section
              h2.s-inner-layout__subtitle Динамика средней цены за полгода
              img(src='img/stats.png', alt='/')

          .col-12.col-lg-4.col-xl-3.offset-xl-1
            .s-inner-layout__side
              .s-tabs
                ul.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a#popular-tab.nav-link.active(data-toggle='tab', href='#popular', role='tab', aria-controls='popular', aria-selected='true') Популярное
                  li.nav-item
                    a#new-tab.nav-link(data-toggle='tab', href='#new', role='tab', aria-controls='new', aria-selected='false') Свежее
                  li.nav-item
                    a#random-tab.nav-link(data-toggle='tab', href='#random', role='tab', aria-controls='random', aria-selected='false') Случайно
                #myTabContent.tab-content
                  #popular.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='popular-tab')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
                  #new.tab-pane.fade(role='tabpanel', aria-labelledby='new-tab')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
                  #random.tab-pane.fade(role='tabpanel', aria-labelledby='random-tab')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
                    +briefly('small', 'Рейтинг телефонов')
              +rubrics()

block footer
  +page-footer