$font-variable: false;
$debug-rhythm: false;

// Root
html {
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  @if ($debug-rhythm == true) {
    @include debug-rhythm;
  }

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 400) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 400;
    }
  }
}

// Body
body {
  word-break: break-word;
  font-size: 18px;
  line-height: 1.4em;

  @media (min-width: $screen-lg) {
    font-size: 20px;
    line-height: 1.5em;
  }
}

// Paragraph
p {
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0, 'frac' 1;
  margin-top: 1rem;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Text links
// p a,
// li a {

//   &:hover,
//   &:active,
//   &:focus {

//   }
// }

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;
  font-style: normal;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 700) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 700;
      font-weight: normal;
    }
  }
}

// Heading level 1
h1 {
  font-size: 3.998em;
  line-height: 1.1em;
}

// Heading level 2
h2 {
  font-size: 2.827em;
  line-height: 1.1em;
}

// Heading level 3
h3 {
  font-size: 1.999em;
  line-height: 1.2em;
}

// Heading level 4
h4 {
  font-size: 1.414em;
  line-height: 1.3em;
}

// Heading level 5
h5 {
 font-size: 1em;
 line-height: 1.5em;
}

// Heading level 6
h6 {
  font-size: 1em;
  line-height: 1.5em;
}

// Lists
ul,
ol {

  li {

    ol,
    ul {
      margin-left: 2rem;
    }
  }
}

// Unordered lists
// ul {}

// Ordered lists
// ol {
//   list-style-type: none;

//   li {
//     counter-increment: top-level;

//     &:before {
//       content: counter(top-level) '.';
//       font-feature-settings: 'lnum', 'tnum';
//       margin-left: -3rem;
//       position: absolute;
//       text-align: right;
//       width: 2em;

//       @supports (font-variant: common-ligatures) {
//         font-feature-settings: normal;
//         font-variant: lining-nums tabular-nums;
//       }
//     }

//     ul {

//       li {

//         &:before {
//           content: '';
//         }

//         ol {

//           li {
//             counter-increment: alt-level;

//             &:before {
//               content: counter(alt-level) '.';
//             }
//           }
//         }
//       }
//     }

//     ol {

//       li {
//         counter-increment: sub-level;

//         &:before {
//           content: counter(top-level) '.' counter(sub-level);
//         }

//         ul {

//           li {

//             &:before {
//               content: '';
//             }
//           }
//         }

//         ol {

//           li {
//             counter-increment: sub-sub-level;

//             &:before {
//               content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
//             }
//           }
//         }
//       }
//     }
//   }
// }

// Definition lists
dl {

  dt,
  dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 0;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures oldstyle-nums;
      font-kerning: normal;
    }
  }

  dt {

    @if ($font-variable == true) {

      @supports (font-variation-settings: 'wght' 700) {
        font-variation-settings: 'wght' 700;
        font-weight: normal;
      }
    }
  }

  dd + dt {
    padding-top: 0.5rem;
  }
}


blockquote {
  position: relative;
  border: 3px solid $primary-color;
  border-radius: 10px;
  margin-left: 60px;
  padding: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 510px;

  @media only screen and (min-width: $screen-sm) {
    padding: 2rem;
    margin-left: 90px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: -60px;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49.45 49.45'%3E%3Cpath fill='%238bc53f' d='M24.72 43.22a18.5 18.5 0 1118.5-18.5 18.52 18.52 0 01-18.5 18.5z'/%3E%3Ccircle cx='24.72' cy='24.72' r='24.72' fill='%238bc53f'/%3E%3Cpath fill='%23fff' d='M24.72 6.23a18.5 18.5 0 1018.5 18.49 18.52 18.52 0 00-18.5-18.49zm0 36.2a17.71 17.71 0 1117.71-17.71 17.72 17.72 0 01-17.71 17.71z'/%3E%3Cpath fill='%23fff' d='M37.23 24c-.16.34-.33.48-.61.48H35a.61.61 0 01-.63-.63.6.6 0 01.64-.6h1.49a.69.69 0 01.79.49zm-25-.25c.12-.31.3-.5.61-.5h1.71a.75.75 0 01.38.13.56.56 0 01.19.66.6.6 0 01-.6.43h-1.53a.7.7 0 01-.76-.52zm12.59-12.4a.67.67 0 01.5.67v2.16a.62.62 0 11-1.23 0v-2.06a.69.69 0 01.51-.76m2.87 20.92v-.22a2.58 2.58 0 011.22-2.25 5.6 5.6 0 001.48-1.35 6.61 6.61 0 001.23-5.76 6.89 6.89 0 00-13.48 2.81 6.57 6.57 0 002.87 4.4 2.29 2.29 0 011 1.39c.07.31.09.64.13 1zm0 3.29h-5.6A1.27 1.27 0 0023 36.86h3.2a1.28 1.28 0 001.26-1.3zm0-1.25v-.79h-5.6v.79zM19.89 16.13a.57.57 0 01-.52-.29c-.38-.66-.77-1.32-1.14-2a.61.61 0 011.06-.6c.35.58.68 1.17 1 1.76l.13.22a.61.61 0 01-.53.91zM31.32 13.58a1.54 1.54 0 01-.11.3c-.36.65-.73 1.29-1.11 1.93a.61.61 0 01-1.08 0 .59.59 0 010-.59l1.14-2a.6.6 0 01.7-.27.65.65 0 01.46.63zM33.15 19.63a.67.67 0 01-.58-.46.61.61 0 01.28-.71l1.43-.84.41-.23a.62.62 0 01.86.2.63.63 0 01-.24.86L33.5 19.5a2.84 2.84 0 01-.35.13zM16.28 19.63a3.05 3.05 0 01-.28-.13l-1.81-1.05a.62.62 0 11.61-1.07l1.85 1.08a.59.59 0 01.27.71.66.66 0 01-.64.46z'/%3E%3C/svg%3E ");

    @media only screen and (min-width: $screen-sm) {
      left: -90px;
    }
  }
}

// Tables
// table {
  // font-style: normal;

  // @if ($font-variable == true) {

  //   @supports (font-variation-settings: 'wght' 400) {
  //     font-family: $font-family--variable;
  //     font-variation-settings: 'wght' 400;
  //   }
  // }

  // tbody,
  // caption {
  //   font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'onum' 0, 'lnum' 1, 'zero' 1, 'pnum' 0, 'tnum' 1, 'frac' 1;

  //   @supports (font-variant: common-ligatures) {
  //     font-feature-settings: normal;
  //     font-variant: common-ligatures contextual lining-nums slashed-zero tabular-nums diagonal-fractions;
  //     font-kerning: normal;
  //   }
  // }
// }

// Time
time {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Bold
b,
strong,
.bold {
  font-weight: bold;
}

// Italic
em,
i,
.italic {
  font-style: italic;
}

// Caption and inline small text
small,
.caption {
  font-style: normal;

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 400) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 400;
    }
  }
}

// Letter space capitals
.upper {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'kern';

  @supports (font-kerning: normal) {
    font-feature-settings: normal;
    font-kerning: normal;
  }
}

// Real small caps
abbr,
.small-caps {
  text-transform: uppercase;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'smcp' 1, 'c2sc' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;
  letter-spacing: 0.075em;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual all-small-caps oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Supercript numerals
sup,
.sup {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'dlig' 0, 'sups' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant-position: super) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: super;
  }
}

// Subscript numerals
sub,
.sub {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'dlig' 0, 'subs' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant-position: sub) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: sub;
  }
}

// Consistent height numbers
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';

  @supports (font-variant: lining-nums) {
    font-feature-settings: normal;
    font-variant: lining-nums;
    font-kerning: normal;
  }
}

// Ascending and descending numbers
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';

  @supports (font-variant: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant: oldstyle-nums;
    font-kerning: normal;
  }
}