// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors
$text-color:                  #21323a;
$text-color--lighter:         lighen($text-color, 25%);
$bg-color:                    #fff;
$bg-color--shade:             #f8fafb;
$bg-color--dark:              $text-color;
$primary-color:               #8ac53e;


// Misc
$border-color:                currentColor;
$border-radius:               2px;
$opacity:                     0.5;
$box-shadow:                  0 15px 45px -15px rgba($text-color, 0.25);


// Font
$font-family: Roboto,
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--condensed: 'Roboto Condensed',
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
nospace;


// Layout

@mixin section-padding {
  padding: 2rem 0;

  @media (min-width: $screen-sm) {
    padding: 4rem 0;
  }
}