.s-recommended-card {

  &__cover {
    display: block;
    position: relative;
    margin-bottom: 0.5rem;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;
    overflow: hidden;

    &:hover,
    &:focus {
      text-decoration: none;
      transform: scale(0.95);

      img {
        transform: scale(1.15)
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform-origin: center center;
      will-change: transform;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__info {

    @media only screen and (min-width: $screen-xs) {
      padding-left: 2rem;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    display: block;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: currentColor;
    }
  }

  &__intro {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #8a8a8a;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__meta-list {
    margin: 0;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ebe4d6;
  }

  &__meta-item {
    padding: 0;
    margin: 0;
    display: inline-block;

    &::before {
      position: relative;
      content: '\2022';
      color: #8a8a8a;
    }

    a,
    span {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: #8a8a8a;
    }
  }

  &__actions {
    text-align: right;
  }

  &__more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #8a8a8a;
    text-transform: uppercase;
    border: 1px solid currentColor;
    display: inline-block;
    padding: 0.75rem 1rem;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
    will-change: transform;

    &:hover,
    &:focus {
      transform: scale(0.95);
      color: darken(#8a8a8a, 15%);
      text-decoration: none;
    }

    &:active {
      transform: scale(0.9);
      color: darken(#8a8a8a, 30%);
      text-decoration: none;
    }
  }
}