mixin recommended-card()

  .s-recommended-card
    .row
      .col-12.col-md-8
        .row
          .col-12.col-sm-3.col-md-4
            a.s-recommended-card__cover(href='/')
              img(src='https://66.media.tumblr.com/8dc4852ada46adadc269120572d9bf6d/tumblr_pl4jlmuQpU1v4cym0_540.jpg', alt='alt')
          .col-12.col-sm-9.col-md-8
            .s-recommended-card__info
              a.s-recommended-card__title(href='/') Лучшие смартфоны с двумя SIM-картами в 2020 году
              p.s-recommended-card__intro Казалось бы не так давно, когда мобильные телефоны вошли в нашу жизнь, мы и представить не могли, что у телефона не будет
              ul.s-recommended-card__meta-list
                li.s-recommended-card__meta-item: a(href='/') IT технологии, Мобильные телефоны
                li.s-recommended-card__meta-item: span Просмотры: 34
              .s-recommended-card__actions
                a.s-recommended-card__more(href='/') Далее