mixin pros-and-cons()

  .s-pros-and-cons
    .row
      .col-12.col-md-6
        .s-pros-and-cons__block.s-pros-and-cons__block--pros
          h3.s-pros-and-cons__title
            span.s-pros-and-cons__icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.45 49.45', width='60', height='60')
                path(fill='#8bc53f', d='M24.72 43.22a18.5 18.5 0 1118.5-18.5 18.52 18.52 0 01-18.5 18.5z')
                circle(fill='#8bc53f', cx='24.72', cy='24.72', r='24.72')
                path(fill='#fff', d='M24.72 6.23a18.5 18.5 0 1018.5 18.49 18.52 18.52 0 00-18.5-18.49zm0 36.2a17.71 17.71 0 1117.71-17.71 17.72 17.72 0 01-17.71 17.71z')
                path(fill='#fff', d='M24.85 23.82a2.67 2.67 0 01-.93-3 2.71 2.71 0 01.93-1.32 2.75 2.75 0 011.7-.6h.71V13a3.12 3.12 0 00-3.13-3.12 1.83 1.83 0 00-1.82 1.83v1.87a13.16 13.16 0 01-.1 1.45 8 8 0 01-3.56 5.8c-.2.14-.39.27-.57.42A40.74 40.74 0 0114.36 23v9.8a3.86 3.86 0 003.09 3.8 17.2 17.2 0 001.9.25h5.5a2.74 2.74 0 010-4.36 2.73 2.73 0 010-4.35 2.74 2.74 0 010-4.36z')
                path(fill='#fff', d='M26.55 20.06a1.59 1.59 0 100 3.17h7.89A1.58 1.58 0 0036 22a1.12 1.12 0 000-.32 1.59 1.59 0 00-1.58-1.59h-7.87zM35.48 24.42h-8.93a1.58 1.58 0 100 3.16h8.93a1.58 1.58 0 00.3-3.13 1.53 1.53 0 00-.3-.03zM35.48 28.77h-8.94a1.59 1.59 0 000 3.17h8.93a1.59 1.59 0 000-3.17zM32.72 33.13h-6.17a1.58 1.58 0 100 3.16h6.17a1.58 1.58 0 000-3.16z')
            | Достоинства
          ul.s-pros-and-cons__list
            li.s-pros-and-cons__item Качественно и быстро
            li.s-pros-and-cons__item Широкий диапазон работы
      .col-12.col-md-6
        .s-pros-and-cons__block.s-pros-and-cons__block--cons
          h3.s-pros-and-cons__title
            span.s-pros-and-cons__icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.45 49.45', width='60', height='60')
                path(fill='#8bc53f', d='M24.72 43.22a18.5 18.5 0 1118.5-18.5 18.52 18.52 0 01-18.5 18.5z')
                circle( fill='red', cx='24.72', cy='24.72', r='24.72')
                path(fill='#fff', d='M24.72 6.23a18.5 18.5 0 1018.5 18.49 18.52 18.52 0 00-18.5-18.49zm0 36.2a17.71 17.71 0 1117.71-17.71 17.72 17.72 0 01-17.71 17.71z')
                path(fill='#fff', d='M24.85 25.63a2.75 2.75 0 00-1.08 2.17 2.66 2.66 0 00.15.85 2.8 2.8 0 002.63 1.93h.71V36.52a3.12 3.12 0 01-3.13 3.12 1.83 1.83 0 01-1.82-1.84v-1.89a13.16 13.16 0 00-.1-1.45 8 8 0 00-3.56-5.81 5.89 5.89 0 01-.57-.41C17 27.65 15.77 27 14.36 26.4v-9.79a3.86 3.86 0 013.09-3.8 17.2 17.2 0 011.9-.25h5.5a2.74 2.74 0 000 4.36 2.73 2.73 0 000 4.35 2.74 2.74 0 000 4.36z')
                path(fill='#fff', d='M26.55 29.39a1.58 1.58 0 01-1.33-.74 1.53 1.53 0 01-.22-.85 1.59 1.59 0 011.59-1.58h7.89A1.58 1.58 0 0136 27.48a1.12 1.12 0 010 .32 1.59 1.59 0 01-1.58 1.59h-7.87zM35.48 25h-8.93a1.58 1.58 0 110-3.16h8.93a1.58 1.58 0 01.3 3.13 1.53 1.53 0 01-.3.03zM35.48 20.68h-8.94a1.59 1.59 0 110-3.17h8.93a1.59 1.59 0 010 3.17zM32.72 16.32h-6.17a1.58 1.58 0 110-3.16h6.17a1.58 1.58 0 010 3.16z')
            | Недостатки
          ul.s-pros-and-cons__list
            li.s-pros-and-cons__item Шумная система охлаждения