.s-pros-and-cons {
  padding-top: 1rem;

  &__block {
    margin-bottom: 2rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    &--pros {
      --accent-color: #8ac53e;
    }

    &--cons {
      --accent-color: #ff0000;
    }
  }

  &__title {
    background-color: #414141;
    font-size: 18px;
    line-height: 26px;
    padding: 4px 10px 4px 5rem;
    color: #fff;
    position: relative;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    margin-top: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    border-radius: 10em;
    border: 3px solid #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 14px;
    line-height: 26px;
    position: relative;
    margin-left: 5rem;

    &::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      background-color: var(--accent-color);
      left: -1.5rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 9px;
    }
  }
}